.logout_modal {
  background-color: rgb(29, 29, 29);
  -webkit-transform: translateX(10%) translateY(-100%) translateZ(0);
  -ms-transform: translateX(10%) translateY(-100%) translateZ(0);
  transform: translateX(6%) translateY(-4710%) translateZ(0);
  width: 600px;
  opacity: 0.85;
  filter: alpha(opacity=90);
  margin: auto;
  transition: all 0.9s ease;
}
.buttons_out {
  font-size: 1rem;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  /* these padding setting will make the button larger around the text */
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* this margin right adds spacing between the buttons */
  margin-right: 1rem;
  background-color: rgb(32, 31, 31);
  opacity: 0.9;
  filter: alpha(opacity=90);
  border-radius: 0.2vw;
}
.buttons_out:hover {
  color: rgb(51, 50, 50);
  background-color: rgb(184, 184, 184);
  /* will cause the banner button to trasition to the above color and background-color decribed above */
  transition: all 0.2s;
}

.ui-button-icon-only {
  font-size: 1.1rem;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
}
